.journal-tab {
  position: absolute;
  inset: 0;
}

.journal-tab__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.journal-tab__placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--text-dim);
  font-size: var(--font-size-heading);
}
